{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% if config.system.debugger.enabled %}
            {% do assets.addCss('theme://css/owlcarousel2.css', 100) %}
            {% do assets.addCss('theme://css/whiteboard.css', 105) %}
            {% do assets.addCss('theme://css/fontawesome.css', 109) %}
            {% do assets.addCss('theme://css/bootstrap.css', 110) %}
        {% else %}
            {% do assets.addCss('theme://css/owlcarousel2.min.css', 100) %}
            {% do assets.addCss('theme://css/whiteboard.min.css', 105) %}
            {% do assets.addCss('theme://css/fontawesome.min.css', 109) %}
            {% do assets.addCss('theme://css/bootstrap.min.css', 110) %}

        {% endif %}
    {% endblock %}
    {{ assets.css() }}

    {% include 'partials/theme.html.twig' %}

    {% block javascripts %}
        {% if config.system.debugger.enabled %}
            {% do assets.addJs('theme://js/typed.js', 100) %}
            {% do assets.addJs('theme://js/stackblur.js', 101) %}
            {% do assets.addJs('theme://js/particles.js', 102) %}
            {% do assets.addJs('theme://js/owlcarousel2.js', 103) %}
            {% do assets.addJs('theme://js/bootstrap.js', 105) %}
            {% do assets.addJs('theme://js/popper.js', 107) %}
        {% else %}
            {% do assets.addJs('theme://js/typed.min.js', 100) %}
            {% do assets.addJs('theme://js/stackblur.min.js', 101) %}
            {% do assets.addJs('theme://js/particles.min.js', 102) %}
            {% do assets.addJs('theme://js/owlcarousel2.min.js', 103) %}
            {% do assets.addJs('theme://js/bootstrap.min.js', 105) %}
            {% do assets.addJs('theme://js/popper.min.js', 107) %}
        {% endif %}
        {% do assets.addJs('jquery', 110) %}
    {% endblock %}
    {{ assets.js() }}
    {% endblock head %}
</head>

{% set classes = 'theme--' ~ config.system.pages.theme %}

{% set classes = classes ~ ' theme-style--' ~ config.theme.style.default %}

{% set classes = classes ~ ' page-name--' ~ page.slug %}

{% set classes = classes ~ ' page-template--' ~ page.template %}

{% if page.header.body_classes %}
    {% set classes = classes ~ ' ' ~ page.header.body_classes %}
{% endif %}

<body class="{{ classes }}">
    {% block header %}
        <header id="header" class="fixed-top">
            {% block navigation %}
                {% set vars = {
                    'class': { 'toggleable': "md", 'responsive': 'lg', 'theme': 'dark' }
                } %}
                {% include 'bootstrap/navbar.html.twig' with vars %}
            {% endblock %}
        </header>
    {% endblock %}

    {% block main %}
        <main class="main">
            {% block sidebar %}{% endblock %}
            {% block content %}{% endblock %}
        </main>
    {% endblock %}

    {% block footer %}
        <footer id="footer">
            <div class="totop">
                <span><a href="#" id="toTop"></a></span>
            </div>
        </footer>
    {% endblock %}

</body>
</html>
