<script>
  $(document).ready(function() {
    var typed = new Typed(".typed-text", {{ page.header.typed.options|json_encode() }});
  });
</script>

{% if image %}
    <div class="media-cover">
        <img class="media-cover-image" src="{{ image.uri }}"{% if image.alt %} alt="{{  image.alt }}"{% endif %} />
    </div>
{% endif %}
<div class="jumbotron jumbotron-fluid callout">
    <div class="container">
        {% block section_content %}
            <h1 class="title text-center">{{ title }}</h1>

            {% if not isMobile() %}
                <div class="mac window">
                    <div class="titlebar">
                        <div class="buttons">
                            <div class="button">
                                <span class="action action-close"><i class="fa fa-plus"></i></span>
                            </div>
                            <div class="button">
                                <span class="action action-minimize"><i class="fa fa-minus"></i></span>
                            </div>
                            <div class="button">
                                <span class="action action-zoom"><i class="fa fa-expand"></i></span>
                            </div>
                        </div>
                        <span class="title-text">{{ terminal_title }}</span>
                    </div>
                    <div class="terminal-content">
                        {% block terminal_content %}
                            {% if page.header.typed.pretext %}<span class="pretext">{{ page.header.typed.pretext }} </span>{% endif %}
                            <span class="typed-text"></span>
                            {% if page.header.typed.posttext %}<span class="posttext">{{ page.header.typed.posttext }}</span>{% endif %}
                        {% endblock %}
                    </div>
                </div>
            {% endif %}
        {% endblock %}
    </div>
</div>