{% set items = breadcrumbs.get() %}
{% set breadcrumbs_config = config.plugins.breadcrumbs %}
{% set divider = breadcrumbs_config.icon_divider_classes %}

{% if items|length > 1 or breadcrumbs_config.show_all %}
    <ol id="breadcrumb">
        {% if breadcrumbs_config.icon_home %}
            <i class="{{ breadcrumbs_config.icon_home }}"></i>
        {% endif %}
        {% for item in items %}
            {% if not loop.last %}
                <li class="breadcrumb-item">
                    {% if item.routable %}
                        <a href="{{ item.url }}"><span>{{ item.menu }}</span></a>
                    {% else  %}
                        <span>{{ crumb.menu }}</span>
                    {% endif %}
                </li>
            {% else %}
                <li class="breadcrumb-item active">
                    {% if breadcrumbs_config.link_trailing %}
                        <a href="{{ item.url }}"><span>{{ item.menu }}</span></a>
                    {% else %}
                        <span>{{ item.menu }}</span>
                        <span>{{ item.menu }}</span>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ol>
{% endif %}