{% set classes = 'card' %}

{# mutable and toggle class, optional #}
{% if class.outline is not empty %}
    {% set classes = classes ~ ' card-outline-' ~ class.style|default('primary') %}
{% else %}
    {% if class.style %}
        {% set classes = classes ~ ' card-'  ~ class.style|default('') %}
    {% endif %}
{% endif %}

{# mutable and toggle class, optional #}
{% if class.align is not empty %}
    {% set classes = classes ~ ' text-' ~ class.align %}
{% endif %}

{# mutable, optional #}
{% if class.names %}
    {% set classes = classes ~ ' '  ~ class.names %}
{% endif %}

<div class="{{ classes }}">
    {% if top is not empty %}
        <div class="card-header">
            <h3>{{ top.text }}</h3>
        </div>
    {% endif %}
    {% if image_top is not empty %}
        {% if image_top.link or config.system.debugger.enabled %}
            <a href="{{ image_top.link }}">
                <img class="card-img-top align-self-center" src="{{ image_top.url }}"{% if image_top.alt %} alt="{{  image_top.alt }}"{% endif %}>
            </a>
        {% elseif config.system.debugger.enable %}
            <img class="card-img-top align-self-center" src="{{ image_top.url }}"{% if image_top.alt %} alt="{{  image_top.alt }}"{% endif %}>
        {% endif %}
    {% endif %}
    {% block card_body %}
        {% if body %}
            <div class="card-body">
                {% if body.title is not empty %}
                    <h4 class="card-title">{{ body.title }}</h4>
                {% endif %}
                {% if body.subtitle is not empty %}
                    <h6 class="card-subtitle text-muted">{{ body.subtitle }}</h6>
                {% endif %}
                <p class="card-text">{{ body.text }}</p>
                {% if body.action is not empty %}
                    <a href="{{ action.href|default('#') }}" class="btn btn-primary">{{ action.text }}</a>
                {% endif %}
            </div>
        {% endif %}
    {% endblock %}
    {% if list %}
        {% include 'bootstrap/list.html.twig' with { 'items': list } %}
    {% endif %}
    {% if image_bottom is not empty %}
        {% if image_bottom.link %}
            <a href="{{ image_top.link }}">
                <img class="card-img-bottom align-self-center" src="{{  image_bottom.uri }}"{% if image_bottom.alt %} alt="{{  image_bottom.alt }}"{% endif %}>
            </a>
        {% else %}
            <img class="card-img-bottom align-self-center" src="{{  image_bottom.uri }}"{% if image_bottom.alt %} alt="{{  image_bottom.alt }}"{% endif %}>
        {% endif %}
    {% endif %}
    {% if bottom is not empty %}
        <div class="card-footer text-muted">
            {{ bottom.text }}
        </div>
    {% endif %}
</div>