{% if url %}
    <a id="{{ id }}" class="nav-link dropdown-toggle" href="{{ url }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if icon %}<i class="fa fa-{{ icon }}"></i>{% endif %}
        {{ text }}
    </a>
{% else %}
    {% include 'bootstrap/buttons.html.twig' with { 'text': text } %}
{% endif %}
<div class="dropdown-menu" aria-labelledby="{{ id }}">
    {% for item in items %}
        {% set current_page = (item.active) ? 'active' : '' %}
        {% if item.action %}
            {% include 'bootstrap/buttons.html.twig' with { 'text': item.menu } %}
        {% elseif item.url %}
            <a class="dropdown-item" href="{{ item.url }}">{{ item.menu }}</a>
        {% elseif item.divider %}
            <div class="dropdown-divider"></div>
        {% endif %}
    {% endfor %}
</div>