{% set items = collection ? collection : pages.children.visible %}

{# defined class #}
{% set classes = 'navbar' %}

{# toggle classe, required #}
{% if class.toggleable is not empty %}
    {% set classes = classes ~ ' navbar-toggleable-' ~ class.toggleable %}
{% endif %}

{# mutable classe, required #}
{% if class.responsive is not empty %}
    {% set classes = classes ~ ' navbar-expand-' ~ class.responsive %}
{% endif %}

{# mutable classe, required #}
{% if class.theme is not empty %}
    {% set classes = classes ~ ' navbar-' ~ class.theme %}
{% endif %}

{# mutable classe, required #}
{% if class.style is not empty %}
    {% set classes = classes ~ ' bg-' ~ class.style %}
{% endif %}

{# toggle classe, required #}
{% if class.position is not empty %}
    {% set classes = classes ~ ' fixed-' ~ class.position %}
{% endif %}

<nav class="{{ classes }}">
    {% if grav.theme.config.settings.logo %}
        <a class="navbar-brand" href="{{ base_url_absolute }}">
            <img src="{{ url('theme://images/' ~ grav.theme.config.settings.logo) }}">
        </a>
    {% endif %}
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            {% for item in items %}
                {% set current_page = (item.active or item.activeChild) ? 'active' : '' %}
                {% if item.children.visible.count > 0 and grav.theme.config.settings.dropdown.enabled %}
                    <li class="nav-item dropdown {{ current_page }}">
                        {% set vars = {
                            'items': item.children.visible,
                            'id': item.url|md5,
                            'url': item.url,
                            'text': item.menu|upper
                        } %}
                        {% include 'bootstrap/dropdown.html.twig' with vars %}
                    </li>
                {% else %}
                    <li class="nav-item {{ current_page }}">
                        <a class="nav-link" href="{{ item.url }}">
                            {{ item.menu|upper }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>
