{% macro loop(page, options, depth, previous) %}

    {% for child in page.children %}

        {% set current_child = (child.active or child.activeChild) ? ' show' : '' %}

        {% if child.children.count > 0 %}
            <li class="nav-item">
                <a class="nav-link collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ child.url|md5 }}" aria-expanded="false" aria-controls="collapse_{{ child.url|md5 }}">
                    {{ child.menu }}
                </a>
                <div id="collapse_{{ child.url|md5 }}" class="collapse{{ current_child }}" role="tabpanel" aria-labelledby="collapse_{{ child.url|md5 }}">
                    <ul class="nav flex-column depth-{{ depth + 1 }}" >
                        {{ _self.loop(child, options, depth + 1) }}
                    </ul>
                </div>
            </li>
        {% else %}
            {% for option in options %}
                {% if option.depth == depth %}
                    <li class="nav-item">
                        {% if option.type == 'id' %}
                            <a class="nav-link" href="{{ page.url }}#{{ child.slug }}">{{ child.menu }}</a>
                        {% else %}
                            <a class="nav-link" href="{{ child.url }}">{{ child.menu }}</a>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endmacro %}

<ul class="nav root flex-column">
    {{ _self.loop(parent, options, 1) }}
</ul>