{% macro loop(pages, options, depth) %}
    <ul class="nav flex-column depth-{{ depth }}">
        {% for page in pages %}
            {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
            {% if page.children.visible.count > 0 %}
                <li class="nav-item">
                    {% for child in options.children %}
                        {% if page.depth == depth %}
                            {% if page.type == 'id' %}
                                <a class="nav-link" href="#{{ page.slug }}">{{ page.menu }}</a>
                            {% else %}
                                <a class="nav-link" href="{{ page.url }}">{{ page.menu }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {{ _self.loop(page.children, options, depth + 1) }}
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ page.url }}">
                        {{ page.menu }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}

{% set items = collection ? collection : pages.children.visible %}

{{ _self.loop(items, options, 0) }}