{% extends 'partials/base.html.twig' %}

{% set items = page.collection() %}

{% set inheritedNavs = page.inherited('navs') %}

{% set navs = page.header.navs  %}

{% block sidebar %}
    <div class="sidebar">
        <div id="accordion" role="tablist" aria-multiselectable="true">
            {% embed 'bootstrap/navs.html.twig' with { 'vertical': true } %}
                {% block navs %}
                    {% if inheritedNavs is not empty %}
                        <div class="nav-back">
                            <a class="nav-link" href="{{ inherited.url }}">Back to {{ inheritedNavs.menu }}</a>
                        </div>
                    {% endif %}
                    <div class="nav-list">
                        {% for nav in navs %}
                            {% set parent = page.find(nav.path) %}
                            {% set vars = {
                                'parent': parent,
                                'options': nav.options
                            } %}
                            <h5 class="nav-header">{{ nav.name|upper }}</h5>
                            {% include 'bootstrap/navs/accordian.html.twig' with vars %}
                        {% endfor %}
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <article class="resource">
        <header class="container">
            <h1 class="title">{{ page.title }}</h1>
            <div class="description">
                {{ page.content }}
            </div>
        </header>
        {% for item in items %}
            {% include 'resource_item.html.twig' with { 'resource': page, 'page': item, 'truncate': true } %}
        {% endfor %}
    </article>
{% endblock %}