<section id="{{ page.slug }}" class="resource-item">
    <header class="method container">
        <h4 id="{{ page.slug }}" class="method-title">{{ page.title }}</h4>
        <div class="method-http">
            <span class="method-http-verb method-http-verb-{{ page.header.verb|lower }}">{{ page.header.verb|upper }}</span>
            <span class="method-http-path method-http-path">{{ page.header.path }}</span>
        </div>
        <div class="method-content">
            {{ page.content }}
        </div>
    </header>
    {% if page.header.parameters.items is not empty %}
        <div class="parameters flex-row">
            <div class="resource-reference container">
                <header>
                    <h5 class="definition-title">{{ t("RESOURCE.PATH")|upper }}</h5>
                    <div class="definition-preamble">
                        {{ page.header.parameters.preamble|markdown }}
                    </div>
                </header>
                <ul class="definition-items">
                    {% for item in page.header.parameters.items %}
                        <li class="definition-item">
                            <div class="resource-label">
                                <strong class="resource-field">{{ item.name }}</strong>
                                <em class="resource-type">string</em>
                                {% if item.required %}
                                    <span class=resource-required"">{{ t("RESOURCE.REQUIRED") }}</span>
                                {% endif %}
                                <p>
                                    {{ item.description|markdown }}
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    {% if page.header.query.items is not empty %}
        <div class="query flex-row">
            <div class="resource-reference container">
                <header>
                    <h5 class="definition-title">{{ t("RESOURCE.QUERY")|upper }}</h5>
                    <div class="definition-preamble">
                        {{ page.header.query.preamble|markdown }}
                    </div>
                </header>
                <ul class="definition-items">
                    {% for item in page.header.query.items %}
                        <li class="definition-item">
                            <div class="definition-label">
                                <strong class="resource-field">{{ item.name }}</strong>
                                <em class="resource-type"></em>
                                {% if item.required %}
                                    <span class=resource-required"">{{ t("RESOURCE.REQUIRED") }}</span>
                                {% endif %}
                                <p>
                                    {{ item.description|markdown }}
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    {% if page.header.response.items is not empty %}
        <div class="response flex-row">
            <div class="reference container">
                <header>
                    <h5 class="definition-title">{{ t("RESOURCE.RESPONSE")|upper }}</h5>
                    <div class="definition-preamble">
                        {{ page.header.response.preamble|markdown }}
                    </div>
                </header>
                <ul class="definition-items">
                    {% for item in page.header.response.items %}
                        <li class="definition-item">
                            <div class="definition-label">
                                <strong class="resource-field"></strong>
                                <em class="resource-type"></em>
                                {% if item.required %}
                                    <span class=resource-required"">{{ t("RESOURCE.REQUIRED") }}</span>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="sample container">
                <pre>
                    <code>
                        {{ page.header.query.description }}
                    </code>
                </pre>
            </div>
        </div>
    {% endif %}
</section>
